<!DOCTYPE html>
<html>
	
	
	<nav  th:fragment="navBar" class="navbar navbar-expand-lg fixed-top pt-4">
          <ul class=" a-white  navbar-nav  mx-auto">
            <li class="nav-item fw-bold py-1 px-3">
              <a class="nav-link " href="/">Home</a>
            </li>
            <li class="nav-item fw-bold py-1 px-3">
              <a sec:authorize="hasAuthority('CUSTOMER')" class="nav-link " th:href="'/menu/'+${userData.id}">Menu</a>
              <a sec:authorize="!hasAuthority('CUSTOMER')" class="nav-link " href="/menu">Menu</a>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')" class="nav-item fw-bold py-1 px-3">
              <a class="nav-link " href="/admin/manageDishes/">Gestione piatti</a>
            </li>
          </ul>
    
         
          <ul class="navbar-nav mx-auto a-white">
            <li class="nav-item fw-bold py-1 px-3">
              <a class="nav-link " th:href="'/preferences/'+${userData.id}" th:classappend="${#authorization.expression('!hasAuthority(''CUSTOMER'')')} ? 'disabled'" >Piatti preferiti</a>
            </li>
          	<li class="nav-item fw-bold py-1 px-3">
				<a sec:authorize="hasAnyAuthority('CUSTOMER','OIDC_USER')" class="nav-link " th:href="@{'/myOrdersCustomer/'+${userData.id}}">I miei ordini</a>
           		<a sec:authorize="hasAuthority('DELIVERYMAN')" class="nav-link " th:href="@{'/deliveryman/deliveryManOrders/'+${userData.id}}">I miei ordini</a>
           		<a sec:authorize="hasAuthority('ADMIN') || isAnonymous()" class="nav-link disabled" >I miei ordini</a>
            </li>
            <li class="nav-item fw-bold px-3">

              <div class="droplbottom d-inline-flex me-1">
				  <a class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
				    <i class="bi bi-person-fill"></i>
				  </a>
				  
				  <div sec:authorize="isAuthenticated()" class="droplbottom d-inline-flex me-1 a-black">
					  <div data-bs-popper="static" class="dropdown-menu dropdown-menu-end p-2 " style="margin-right: 12rem;">  
					    <div class="text-center" style="margin-bottom: 0px;">
						  <div class="d-inline-flex">
					      	<p style="margin-bottom: 0px;" th:text="${userData.name}+' '+ ${userData.surname}"></p>
					      </div>
						  <hr style="margin-top: 0px;margin-bottom: 0px;">
					      <a href="/logout" style="text-decoration: none;">Logout</a>
					    </div>
					  </div>
					</div>
				  
				  <form sec:authorize="!isAuthenticated()" th:action="@{/login}" method="POST" data-bs-popper="static" class="a-black dropdown-menu dropdown-menu-end me-5 p-3" style="margin-right: 3.7rem !important">
				    <div class="mb-3">
				      <label for="username" class="form-label">Username</label>
				      <input name="username" type="text" class="form-control" placeholder="username" required="">
				    </div>
				    <div class="mb-3">
				      <label for="password" class="form-label">Password</label>
				      <input name="password" type="password" class="form-control" placeholder="Password" required="">
				    </div>
				    <div class="d-flex justify-content-between">
					    <button type="submit" class="btn btn-green btn-primary" style="color: black;">Accedi</button>
					    <div class="text-center me-1">
				            <a class="d-flex" href="/register" style="text-decoration:none;font-weight: 700;text-transform: none;"> Registrati </a>
			                <hr style="margin-bottom: 0.3rem;margin-top: 0.3rem;">
				            <a class="d-flex" href="/oauth2/authorization/google" style="text-decoration:none;font-weight: 700;text-transform: none;">Login with <i class="bi bi-google ms-1"></i></a>
				        </div>
					</div>
				  </form>
				</div>
              
            </li>
          </ul>
	</nav>
	
	<body>
		
		
	</body>
	
	<footer th:fragment="footer" class="d-flex justify-content-center py-3 mt-auto">
	    <p class="col-md-4 mb-0" >&copy; 2023 Restaurant, Inc</p>
  </footer>

</html>