<html>
	<head th:replace="fragments/fragments.html :: headerfiles"></head>
	
	<body>
		<div  class="d-flex h-100  flex-column text-center justify-content-center">
		<div th:replace="fragments/fragments.html :: navBar"></div>
		
	    <div class="container" style="margin-top: 20rem;margin-bottom: 10rem;">
			<div class="row justify-content-center mb-5">
	          <div class="col-12 col-md-8 col-lg-6 text-center">
	
	            <h2 class="mb-2 sub-title">Login</h2>
	          </div>
	        </div>
	        <div style="max-width: 50%;" class="row mx-auto">
	        	<form th:action="@{/login}" method="POST">
					<div class="row gx-3">
		                <div class="row mx-auto">
		                  <div class="mb-3">
		                    <label class="visually-hidden" for="username">Username</label>
		                    <input class="form-control" id="username" name="username" type="text" th:classappend="${param.error} ? is-invalid" placeholder="Username" required="">
		                  </div>
		
		                  <div class="mb-3">
		                    <label class="visually-hidden" for="Password">Password</label>
		                    <input class="form-control" id="password" name="password" type="password" th:classappend="${param.error} ? is-invalid" placeholder="Password" required="">
		                  </div>
						<strong th:if="${param.error}" class="error" >username o password errati</strong>
		                </div>
		                <div class="col text-center mt-3">
		                  <button class="btn-green btn btn-primary" type="submit" style="color:black">
	               			 Login
	             		  </button>
							<div class="mt-2 text-center">
		 					<p class="mb-0">Non hai un account?</p><a style="text-decoration:none;font-weight: 700;text-transform: none;" href="/register"> Registrati</a>
							<p class="mb-auto">o</p>
							<a class="ms-2" href="/oauth2/authorization/google" style="text-decoration:none;font-weight: 700;text-transform: none;">Login with <i class="bi bi-google"></i></a> </div>
		                </div>
		             </div>
				</form>
	        </div>
		</div>
		
		<div th:replace="fragments/base.html :: footer"></div>
	</body>
	
</html>